body
{
//    border:3px solid #6D6E6A;
    padding-left: 1%;
    padding-top: 2%;
	background-color: linear-gradient(0deg, 355C7D, C06C84 40%, F8B195);
	font-family: Ubuntu, Helvetica;
}

h1
{
	font-family: Ubuntu, Helvetica;
	color: #FFFFFF;
	background-image: linear-gradient(to right, #42433eFF 10%, #00000000 75%);
	border-radius: 0.2em;
	width: 70%;
	padding: 0.2em;
}

p
{
	color:#FFFFFF;
	max-width: 700px;
	min-width: 100px;
}
ul
{

}

nav
{
	display: block;
	shape-outside: border-box;
}

#map
{
	width: 400px;
	height: 400px;
}

.topnav
{
	background-color: F67280;
    overflow: hidden;
    text-align: center;
    align-items: center;
}

.topnav a
{
    color: #F28080;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    margin-left: auto;
    margin-right: auto;
    width: 8em;
    display: inline-block;
}

.topnav a:hover
{
    background-color: #F24B4B;
    color: black;
}

.topnav a.active
{
    background-color: 6C5B7B;
    color: red;
}

.projects li a
{
	color: #FFFFFF;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    margin-left: auto;
    margin-right: auto;
    width: 8em;
    display: inline-block;
}

.projects li a:hover
{
	background-color: #FFFFFF;
}

.grid-container
{
    display: grid;
    grid-template-areas: ", , , , ,";
    grid-column-gap: 10px;
    background-color: #195D76;
    padding: 10px;
}
.item-header
{
    color: #F3F3F3;
    background-color: #555555;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    grid-area: header;
}

.item-header ul
{
    flex-direction: column;
}

.item-header li
{
    color: #FFFFFF;
    background-color: #555555;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

    font-size: 17px;
    grid-area: header;
}

.item-header a
{
    color: #FFFFFF;
    background-color: #555555;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.item-main  { grid-area: main; }
.item-footer { grid-area: footer; }

.grid-header
{
    display: grid;
    grid-template-areas: '. . . . .';
    grid-gap: 10px;
    background-color: #FF00E8;
}

Table{margin: 0 auto;
  background-color: #eeffdf;
  border-spacing: 0;
  border: 0.2em solid #b0fe62; }
